:root {
  --color-background: white;
  --color-text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: rgb(40, 40, 40);
    --color-text: white;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative;
}
